body{
    background-color: rgba(0, 0, 0, 0.187);
}
.cardsets{
        display: flex;
        justify-content: center; 
        margin-bottom: 25%;
        gap: 20px; 
        padding: 20px;
      }
      